<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<%
# shared/sessions is a partial, meaning it can't be rendered through the controller
# without losing all css
%>


<div class="container d-flex flex-column justify-content-center vaiyo-main">
  <div class="card vaiyo-card">
    <div class="card-body">
      <h4 class="card-title">Get VAIYO Tokens</h4>
      <div class="vaiyo-form">
      	<div class="vaiyo-calc-form">
          <div class="d-flex">
        	  <p class="balance-font col-6" id="vbalance"></p>
        	  <p class="text-right balance-font col-6" id="balance"></p>
          </div>
          <div class="d-flex">
            <input type="text" id="amountinput" onkeypress="return /[0-9.]/i.test(event.key)" maxlength = "19" class="flex-fill normal-font vaiyo-input" placeholder="0.0" />
            <a class="flex-fill text-center normal-font pt-2 pr-3" id="balancemax" onclick="onbtnMax()">MAX</a>

            <div class="dropdown">
              <a href="#" class="nav-link pr-0 mt-2" data-toggle="dropdown">
                <%= image_tag(asset_url('bnb.png'), id:"crypto-icon", class: "bnb-icon flex-fill", alt:"") %>
                <span class="ml-2 d-flex">
                  <span class="text-default username normal-font" id="crypto-name">
                    BNB                      
                  </span>
                  <i class="fa fa-caret-down icon-down"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" id="crypto-dropdown-menu" x-placement="bottom-end">    
                <div class="menu-item dropdown-item" onclick="onCryptoMenuClick('bnb')">              
                  <%= image_tag(asset_url('bnb.png'), id:"crypto-icon-1", class: "bnb-icon", alt:"") %>
                  <span class="ml-2 d-lg-block">
                    <span class="text-default username normal-font pl-3">BNB</span>
                  </span>
                </div>
                <div class="menu-item dropdown-item" onclick="onCryptoMenuClick('busd')">
                  <%= image_tag(asset_url('busd.png'), id:"crypto-icon-2", class: "bnb-icon", alt:"") %>
                  <span class="ml-2 d-lg-block">
                    <span class="text-default username normal-font pl-3">BUSD</span>
                  </span>
                </div>                
              </div>
            </div>
          </div>
          <div class="invalid-feedback d-block" id="transactionstatus"></div>
        </div>
        <button class="btn btn-primary w-100" id="supplybtn" onclick="deposit()">Supply</button>
      </div>
    </div>
  </div>
</div>
